<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>add</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PopulateState</display-name>
    <servlet-name>PopulateState</servlet-name>
    <servlet-class>connection.PopulateState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateState</servlet-name>
    <url-pattern>/PopulateState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopulateDistrict</display-name>
    <servlet-name>PopulateDistrict</servlet-name>
    <servlet-class>connection.PopulateDistrict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateDistrict</servlet-name>
    <url-pattern>/PopulateDistrict</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Store</display-name>
    <servlet-name>Store</servlet-name>
    <servlet-class>connection.Store</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store</servlet-name>
    <url-pattern>/Store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateStore</display-name>
    <servlet-name>StateStore</servlet-name>
    <servlet-class>connection.StateStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateStore</servlet-name>
    <url-pattern>/StateStore</url-pattern>
  </servlet-mapping>
</web-app>